@charset "UTF-8";

/* SP style */
@media screen and (max-width: 768px){

  /* ハンバーガーメニューのボタン本体 */
  .p-nav__hamburger{
    width: 55px;
    height: 55px;
    border: 1.5px solid #00b2ed;
    background-color: white;
    position: relative;
  }

  /* ハンバーガーメニューの各３本線の本体 */
  .p-nav__hamburger > div{
    background-color: #00b2ed;
    height: 3px;
    width: 45%;
    position: absolute;
    left: 30%;
    /* transition: all 0.3s; */
    /*ハンバーガーメニュークリック時の三本線の動きを遅延*/
  }
  
  /* ハンバーガーメニューの各３本線 */
  .barTop{
    top: 30%;
  }
  .barMiddle{
    top: 50%;
    transform: translateY(-50%);
  }
  .barBottom{
    bottom: 30%;
  }

  .p-nav__hamburger.active > .barTop{
    top: 50%;
    background-color: black;
    transform: translateY(-50%) rotate(45deg);
  }
  
  .p-nav__hamburger.active > .barMiddle{
    display: none;
  }
  
  .p-nav__hamburger.active > .barBottom{
    top: 50%;
    background-color: black;
    transform: translateY(-50%) rotate(-45deg);
  }


.close{
  /* ハンバーガーメニュー展開時、背景を固定 */
  /* position: fixed; */
  /* height: 100%; */
  overflow: hidden;
}

}