@charset "UTF-8";

/* PC style */
/* @media screen and (min-width: 769px)  */
@media screen and (min-width: 800px) 
{
  nav{
    position: absolute;
    z-index: 1;
    width: 95%;
    margin: 4% 0 0 3%;
    justify-content: space-between;
  }

  .p-nav__mail{
    position: relative;
    width: 100px;
    height: 96px;
    background-image: url("../img/mail.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
    background-color: #00b2ed;
  }

  .p-nav__containerSP{
    display: none;
  }

  /* ナビゲーションメニュー */
  .nav-menu {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff; /* メニューの背景色 */
    color: #333; /* メニューテキストの色 */
    /* overflow-y: hidden;
    　→　90行目のtransform: scaleY(0)ので２重に非表示になってしまうからここはコメント */
  }

  .menu-list {
    display: flex;
    align-items: center;
    justify-content: center; /* メニューアイテムを中央揃えに */
  }

  .menu-item {
    margin: 0 10px;
    padding: 20px 0;
    box-sizing: border-box;
    background-color: white; /* メニューアイテムの背景色 */
    position: relative;
    transition: background-color .3s; /* 背景色の変化をアニメーション化 */
  }

  .menu-item:first-child{
    display: none;
  }

  /* メニューアイテムのホバースタイル */
  .menu-item:hover .drop-menu-list {
    transform: scaleY(1); /* ドロップダウンメニューの表示 */
  }

  .menu-item:hover {
    /* padding: 5px 0; */
    box-sizing: border-box;
    border-bottom:5px solid #00b2ed;
    margin-bottom: -5px;/* border足した分相殺させる(しないとズレる)*/
    background-color: white; /* メニューアイテムのホバー時の背景色 */
    transition: background-color .3s; /* 背景色の変化をアニメーション化 */
  }

  .drop-menu-item:hover a{
    transition: opacity .3s; /* 不透明度の変化をアニメーション化 */
  }

  .menu-item a {
    align-items: center;
    font-family: YuGothic, "Yu Gothic", Meiryo, sans-serif;
    font-weight: bold;
    color: black; /* メニューアイテム内のリンクテキストの色 */
    display: flex;
    padding: 15px;
    line-height: 1;
    text-decoration: none; /* リンクの下線を非表示 */
  }

  /* ドロップダウンメニュー */
  .drop-menu {
    position: relative;
  }

  .drop-menu-list {
    position: absolute;
    top: 106%;
    left: 0;
    transform: scaleY(0); /* ドロップダウンメニューの非表示 */
    transform-origin: center top; /* 変形を適応する基準を設定 */
    transition: transform .3s; /* 表示の変化をアニメーション化 */
    width: 280px;
    text-align: left;
    z-index: 1;
  }

  .drop-menu-item {
    font-size: 13px;
    background-color: white; /* ドロップダウンメニューの背景色 */
    transition: opacity 0.3 .3s; /* 不透明度の変化をアニメーション化 */
  }
}



/* SP style */
@media screen and (max-width: 800px){

  nav{
    position: absolute;
    z-index: 1;
    width: 100%;
  }

  .nav-menu{
    display: none;
    width: 100%;
    /* height: 100vh; */
    /* height: 100%; */
    max-height: 100vh;
    overflow: scroll;
    /* overflow-y: hidden; */
    position: fixed;
    top:0;
    padding-top: 11px;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
  }

  .menu-list{
    text-decoration: none;
    padding: 0 20px;
    font-family: YuGothic, "Yu Gothic", Meiryo, sans-serif;
    font-weight: bold;
  }

  .menu-list a{
    text-decoration: none;
    color: white;
  }

  .menu-item{
    position: relative;
    padding: 15px 0;
    border-top:1px solid #fff;
  }

  .menu-item:first-child{
    position: relative;
    padding:0 0 15px;
    border-top:none;
  }

  .menu-item__image{
    width: 20%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .nav-allow::after{
    position: absolute;
    right: 0;
    content: "≻";
    color: #fff;
    padding: 0 20px;
  }

  .menu-item > a{
    font-size: 1.5em;
    font-family: YuGothic, "Yu Gothic", Meiryo, sans-serif;
    font-weight: bold;
  }

  .drop-menu-list{
    margin-top: 10px;
  }

  .drop-menu-item{
    line-height: 2.5;
  }

  .p-nav__container{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 90%;
    background-color: black;
    opacity: 0.5;
  }

  .p-nav__mailSP{
    width: 55px;
    height: 55px;
    border: 1.5px solid #00b2ed;
    background-color: #00b2ed;
    background-image: url("../img/mail.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
  }

  .p-nav__containerSP{
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
  }

  .open{
    overflow: hidden;
  }
}