@charset "UTF-8";

/* PC style */
@media screen and (min-width: 801px) {

  .wrapper{
    min-width: 1200px;
  }

  /* header */
  header{
    width: 100%;
    position: relative;
    background-color: black;
  }

  /* nav */
  /* nav.cssに記載 */

  /* main */
  .p-mainPhoto{
    background-image: url("../img/header/main_photo.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    opacity: 0.7;
  }

  .p-mainTitle{
    width: 500px;
    position: absolute;
    top: 27%;
    left: 23%;
    transform: translateX(-55%);
  }

  .p-mainTitle p{
    width: 155%;
    color: white;
    font-family: YuGothic, "Yu Gothic", Meiryo, sans-serif;
    font-weight: bold;
    line-height: 1.8;
    font-size: 20px;
    margin-top: 5%;
  }

  .p-mainScroll{
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }

  .p-mainScroll:hover{
    opacity: 0.3;
    transition: 1s;
  }

  #p-mainScroll__btn{
    width:30px;
    height: 70px;
  }

  .p-headerLogo{
    cursor: pointer;
  }

  .p-headerLogo img{
    width: 10vw;
  }

  /* main */
  .u-section{
    margin: 0 auto;
  }

  /* INFORMATION */
  .p-information{
    padding: 4% 0 7%;
    margin: 0 auto 20px;
  }

  .p-information__title{
    text-align: center;
  }

  .p-information__title img{
    width: 30%;
  }

  .p-information__list{
    display: flex;
    max-width: 1040px;
    margin: 50px auto 0;
    list-style: none;
    overflow: hidden;
  }

  .p-information li{
    width: 25%;
    position: relative;
    cursor: pointer;
    cursor: pointer;
  }

  .p-information__image{
    display: inline-block;
    background-color: black;
    overflow:hidden;
    width: 100%;
  }

  .p-information li img{
    display: block;
    width: 100%;
    transition:0.5s all;
  }

  .p-information li img:hover{
    opacity: 0.7;
    transform:scale(1.1,1.1);
    transition:0.5s all;
  }

  .p-information li:hover{
    opacity: 1;
    color: #005fa7;
  }

  .p-information a p{
    font-size: 1.1rem;
    font-weight: 550;
    line-height: 1.5;
    font-family: YuGothic, "Yu Gothic", Meiryo, sans-serif;
    font-weight: bold;
  }

  .p-information__date{
    width: 70px;
    margin: -18px 0 0 11px;
    padding: 13px 10px;
    background-color: #fff;
    line-height: 1;
    font-weight: bold;
    font-size: 13px;
    font-family: YuGothic, "Yu Gothic", Meiryo, sans-serif;
    text-align: center;
    position: relative;
    z-index: 1;
  }

  .p-information p{
    font-size: 1.2rem;
    font-weight: 600;
  }

  .p-information ul li a img::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    opacity: 0;
    transition: all 0.3s;
  }

  .p-information:hover::before {
    opacity: 1;
  }

  /* SERVICE */
  .p-service{
    position: relative;
    padding: 80px 0 180px;
    /* max-width: 1200px; */
    width: 1100px;
    margin: 0 auto;
  }

  .p-service__title{
    left: 0;
    top: 0;
    width: 500px;
  }

  .p-service__title img{
    width: 100%;
  }

  .p-service__titleExplane{
    font-weight: normal;
  }

  .p-service__titleExplane p{
    text-align: left;
    margin-top: 50px;
    line-height: 1.5;
    letter-spacing: -0.1em;
  }

  .p-service__titleExplane p:last-child{
    margin: 3% 0;
  }

  .p-service__titleSP{
    display: none;
  }

  .p-service__ImageCover{
    display: flex;
    position: relative;
    height: 1000px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -2;
  }

  .p-service__mainImage{
    background-image: url("../img/service/service-main.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    width: 1320px;
    /* height: 120vh; */
    height: 100%;
    top:175%;
    right: 0;
    z-index: -1;
    object-fit: cover;
  }

  .p-service__gray{
    background-image: url("../img/service/graybg.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    width: 37vw;
    margin: 0 calc(50% - 50vw);
    /* height: 115vh; */
    height: 97%;
    top: 183%;
    left: 0;
    z-index: -2;
    object-fit: cover;
  }

  .p-service__gray img{
    width: 100%;
    height: 100%;
  }

  /* contents */
  .p-service__contents{
    margin: 0 auto;
    display: flex;
  }

  /* left */
  .p-service__contentsLeft{
    width: 66%;
    height: 0%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  .p-service__contentsLeft li{
    position: relative;
    margin: 0 1% 1% 0;
    width: 49%;
    height: 60%;
    display: inline-block;
    background-color: black;
    cursor: pointer;
  }

  .p-service__contentsLeft__image{
    background-size: cover;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0.5;
    object-fit: cover;
  }

  .p-service__contentsLeft__image:hover{
    opacity: 0.3;
    transition: 0.3s;
  }

  .p-service__contentsLeft li p{
    width: 80%;
    position: absolute;
    z-index: 2;
    bottom: 23%;
    left: 50%;
    line-height: 1.3;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1rem;
    color: #fff;
    font-family: YuGothic, "Yu Gothic", Meiryo, sans-serif;
    font-weight: bold;
  }

  .p-service__contentsTitle{
    position: absolute;
    z-index: 2;
    top: 23%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
  }

  .p-service__contentsTitle-last{
    position: absolute;
    z-index: 2;
    top: 23%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    width: 40%;
  }

  .p-service__contentsLeft li:hover .dli-arrow-white{
    color: #005fa7;
  }

  /* right */
  .p-service__contentsRight{
    width: 35.2%;
  }

  .p-service__contentsRight > div{
    position: relative;
    margin-right:10px;
    width: 100%;
    height: 91.5%;
    display: inline-block;
    background-color: black;
    cursor: pointer;
  }

  .p-service__contentsRight__image{
    background-size: cover;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0.5;
    object-fit: cover;
  }

  .p-service__contentsRight__image:hover{
    opacity: 0.3;
    transition: 0.3s;
  }

  .p-service__contentsTitleRight{
    position: absolute;
    z-index: 2;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
  }

  .p-service__contentsRight div p{
    width: 100%;
    position: absolute;
    z-index: 2;
    bottom: 30%;
    text-align: center;
    font-size: 1rem;
    color: #fff;
    font-family: YuGothic, "Yu Gothic", Meiryo, sans-serif;
    font-weight: bold;
    line-height: 1.5;
  }

  .allow{
    position: absolute;
    right: 5%;
    bottom: 5%;
  }

  .dli-arrow-white {
    display: inline-block;
    vertical-align: middle;
    color: white;
    line-height: 1;
    position: relative;
    width: 3.5em;
    height: 0.1em;
    background: currentColor;
  }

  .dli-arrow-white::before {
    content: '';
    width: 0.7em;
    height: -0.35em;
    border: 0.1em solid currentColor;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
    transform-origin: top right;
    position: absolute;
    top: 50%;
    right: -0.05em;
    box-sizing: border-box;
  }

  .p-service__contentsRight > div:hover .dli-arrow-white{
    color: #005fa7;
  }

  /* WHO WE ARE */
  .p-introduce{
    padding: 5% 0;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  .p-introduce__cover{
    display: flex;
  }

  /* left */
  .p-introduceLeft{
    width: 50%;
  }

  .p-introduceLeft img{
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
  }

  /* right */
  .p-introduceRight{
    width: 50%;
    position: relative;
    text-align: left;
  }

  .p-introduceTitle{
    width: 300px;
    margin-left: 3%;
  }

  .p-introduceGray{
    width: 100%;
    height: 400px;
    margin-top: 50px;
    position: absolute;
    left: 0;
    z-index: -1;
  }

  .p-introduceRight__vision{
    position: absolute;
    top: 35%;
    left: 38%;
    z-index: 1;
    font-weight: bold;
    font-style: normal;
    line-height: 2;
    font-family: YuGothic, "Yu Gothic", Meiryo, sans-serif;
    font-weight: bold;
  }

  .p-introduceRight__visionSP{
    display: none;
  }

  .p-introduce__company{
    width: 150px;
    height: 30px;
    padding: 20px;
    position: absolute;
    right: 5%;
    bottom: 30px;
    background-color: #fff;
    align-items: center;
    font-weight: bold;
    font-style: normal;
    cursor: pointer;
  }

  .p-introduce__company:hover{
    opacity: 0.5;
  }

  .p-introduce__company p{
    font-family: YuGothic, "Yu Gothic", Meiryo, sans-serif;
    font-weight: bold;
  }

  .allow__black{
    position: absolute;
    bottom: 45%;
    right: -10%;
    transition: 0.5s;
  }

  .p-introduce__company:hover .allow__black{
    transition: 0.5s;
    transform: translateX(10px);
  }

  .dli-arrow-black {
    display: inline-block;
    vertical-align: middle;
    color: black;
    line-height: 1;
    position: relative;
    width: 3em;
    height: 0.12em;
    background: currentColor;
  }

  .dli-arrow-black::before {
    content: '';
    width: 0.5em;
    height: -0.35em;
    border: 0.12em solid currentColor;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
    transform-origin: top right;
    position: absolute;
    top: 50%;
    right: -0.05em;
    box-sizing: border-box;
  }

  /* PROJECT */
  .p-project{
    padding-bottom: 3%;
    text-align: center;
  }

  .p-project__title{
    text-align: center;
  }

  .p-project__title img{
    width: 220px;
  }

  .p-project__intro{
    margin: 50px 0 30px;
    line-height: 1.5;
    font-size: 100%;
    font-weight: normal;
  }

  .p-project ul{
    max-width: 1040px;
    display: flex;
    flex-wrap:wrap;
    margin: 0 auto;
  }

  .p-project ul li{
    width: 31.3%;
    margin: 0 1% 3%;
    list-style: none;
    cursor: pointer;
  }

  .p-project__image{
    display: inline-block;
    overflow:hidden;
    width: 100%;
  }

  .p-project ul li img{
    display: block;
    width: 100%;
    transition:0.5s all;
  }

  .p-project li img:hover{
    opacity: 0.7;
    transform:scale(1.1,1.1);
    transition:0.5s all;
  }

  .p-project li:hover{
    opacity: 1;
    color: #005fa7;
  }


  .p-project__customer{
    margin: -23px 0 0 12px;
    z-index: 1;
  }

  .p-project__case{
    position: relative;
    width: 90px;
    padding: 15px 7px;
    text-align: center;
    align-items: center;
    background-color: #00b2ed;
    color: #fff;
    font-family: YuGothic, "Yu Gothic", Meiryo, sans-serif;
    font-weight: bold;
  }

  .p-project__content{
    font-family: YuGothic, "Yu Gothic", Meiryo, sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.5rem;
    margin-top: 2%;
  }

  .p-project__link{
    position: relative;
    width: 360px;
    height: 100px;
    margin: 4% auto;
  }

  .p-project__linkButton{
    border:2px solid #00b2ed;
    transition: 0.5s;
  }

  .p-project__linkButton:hover{
    transition: 0.3s;
    background-color: #00b2ed;
    color: white;
  }

  .p-project__linkButton:hover .p-project__allowBlack{
    transition: 0.5s;
    transform: translateX(10px);
  }

  .p-project__link p{
    text-align: center;
    font-size: 0.9rem;
    font-family: YuGothic, "Yu Gothic", Meiryo, sans-serif;
    font-weight: bold;
    padding: 7% 1%;
  }

  .p-project__allowBlack{
    position: absolute;
    bottom: 63%;
    right: -5%;
    transition: 0.5s;
  }

  .dli-arrow-black {
    display: inline-block;
    vertical-align: middle;
    color: black;
    line-height: 1;
    position: relative;
    width: 3em;
    height: 0.12em;
    background: currentColor;
  }

  .dli-arrow-black::before {
    content: '';
    width: 0.5em;
    height: -0.35em;
    border: 0.12em solid currentColor;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
    transform-origin: top right;
    position: absolute;
    top: 50%;
    right: -0.05em;
    box-sizing: border-box;
  }

  /* CONTACT */
  .p-contact{
    width: 100%;
    display: flex;
    position: relative;
    margin: 0 auto;
  }

  .p-contact__background{
    width: 100%;
    height: 50vh;
    display: flex;
  }

  /* left */
  .p-contact__left{
    width: 50%;
    background-size: cover;
  }

  .p-contact__left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* right */
  .p-contact__right{
    width: 50%;
    background-size: cover;
  }

  .p-contact__right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* center */
  .p-contact__center{
    position: absolute;
    top: -33px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    height: 355px;
    max-width: 450px;
    padding: 80px 50px;
    text-align: center;
    background-color: #005fa7;
    color: #fff;
  }

  .p-contact__center::before{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 12px 12px 0 12px;
    border-color: #ffffff transparent transparent transparent;
  }

  .p-contact__title img{
    width: 65%;
  }

  .p-contact__title p{
    font-size: 1.1rem;
    line-height: 1.8;
    margin-top: 17px;
    font-family: YuGothic, "Yu Gothic", Meiryo, sans-serif;
    font-weight: bold;
  }

  .p-contact__form{
    padding: 8% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% auto;
    background-color: hsl(0, 0%, 100%);
    color: #005fa7;
    cursor: pointer;
  }

  .p-contact__form p{
    font-family: YuGothic, "Yu Gothic", Meiryo, sans-serif;
    font-weight: bold;
    font-size: 18px;
  }

  .p-project__allowBlue{
    position: absolute;
    top: 49%;
    transform: translateX(-51%);
    right: 0;
    transition: 0.5s;
  }

  .dli-arrow-blue {
    display: inline-block;
    vertical-align: middle;
    color: #00a0e9;
    line-height: 1;
    position: relative;
    width: 3em;
    height: 0.12em;
    background: currentColor;
  }

  .dli-arrow-blue::before {
    content: '';
    width: 0.5em;
    height: -0.35em;
    border: 0.12em solid currentColor;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
    transform-origin: top right;
    position: absolute;
    top: 50%;
    right: -0.05em;
    box-sizing: border-box;
  }

  .p-contact__form:hover{
    transition: 0.3s;
    opacity: 0.5;
  }

  .p-contact__form:hover .p-project__allowBlue{
    transition: 0.3s;
    transform: translateX(-10px);
  }

  .p-contact__tel{
    padding: 7% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #005fa7;
    border: #fff 2px solid;
  }

  .p-contact__tel img{
    width: 60%;
  }

  .p-contact__openhour{
    margin-top: 10%;
  }

  /* footer */
  footer{
    width: 100%;
    margin: 0 auto;
  }

  /* top */
  .p-footer__top{
    position: relative;
    display: flex;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    height: 340px;
  }

  .p-footer__background{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }

  .p-footer__topImage{
    width: 50%;
    height: 100%;
    text-align: right;
    margin-right: 6%;
  }

  .p-footer__topImage a img{
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    cursor: pointer;
  }

  .p-footer__right{
    width: 50%;
    display: flex;
    text-align: left;
    align-items: top;
    line-height: 2;
  }

  .p-footer__right ul{
    border-left: 1px solid #aaaaaa;
    margin-right: 10%;
    line-height: 2.5;
  }

  .p-footer__right ul li{
    margin-left: 20px;
    list-style: none;
    cursor: pointer;
    font-size: 13px;
  }

  .p-footer__right ul li:hover{
    opacity: 0.5;
    transition: 0.5s;
  }

  .p-footer__bottom{
    margin: 20px 0;
    background-color: #fff;
    text-align: center;
    align-items: center;
  }

  small{
    font-size: 12px;
    font-family: YakuHanJP, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  }

}